DITTO_HTTP_URL=http://localhost:8081
EXTENDED_API_URL=http://localhost:8080
DITTO_USER=ditto
DITTO_PASSWORD=ditto
MQTT_HOST=localhost
MQTT_PORT=1883
INFLUX_URL=http://localhost:8086
INFLUX_ORG=opentwins
INFLUX_BUCKET=default
INFLUX_TOKEN=
GRAFANA_URL=http://localhost:3000
NAMESPACE=hnguyen.clustertwin
PUBLISH_INTERVAL_SEC=3
AGGREGATE_INTERVAL_SEC=7
FAILURE_TOLERANCE_SEC=9
HEALTHY_CPU_THRESHOLD=80
